/*                  KEY POSITIONS
    ╭─────────────────────╮  ╭─────────────────────╮
    │ LT4 LT3 LT2 LT1 LT0 │  │ RT0 RT1 RT2 RT3 RT4 │
╭───╯ LM4 LM3 LM2 LM1 LM0 │  │ RM0 RM1 RM2 RM3 RM4 ╰───╮
│ LB5 LB4 LB3 LB2 LB1 LB0 │  │ RB0 RB1 RB2 RB3 RB4 RB5 │
╰───────────╮ LH2 LH1 LH0 │  │ RH0 RH1 RH2 ╭───────────╯
            ╰─────────────╯  ╰─────────────╯
*/

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50


#define BASE DEF RUS



ZMK_COMBO(bspc,        &bs_del,      RT1 RT2,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(equal,       &kp EQUAL,    RT2 RT3,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(star,        &kp STAR,     RT0 RT1,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(plus,        &kp PLUS,     RT1 RM1,  BASE NAV NUM,   COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(fslh,        &kp FSLH,     RT2 RM2,  BASE NAV NUM,   COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(prct_v,      &kp PRCT,     RT3 RM3,  BASE NAV NUM,   COMBO_TERM_SLOW, COMBO_IDLE_SLOW)


ZMK_COMBO(lbkt,        &left_brc,    RM1 RM2,  BASE     NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST, RS(RCTRL), KEYS_L)
ZMK_COMBO(rbkt,        &right_brc,   RM2 RM3,  BASE     NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST, RS(RALT),  KEYS_L)
ZMK_COMBO(rbrc,        &kp RBRC,     RM2 RM3,       NAV    ,   COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lbrc,        &kp LBRC,     RM1 RM2,       NAV    ,   COMBO_TERM_FAST, COMBO_IDLE_FAST)


ZMK_COMBO(pipe,        &kp PIPE,     RB0 RB1,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(minus,       &kp MINUS,    RB1 RB2,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(dllr,        &kp DLLR,     RB2 RB3,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)


ZMK_COMBO(at_m,        &kp AT,       LT0 RT0,  BASE NAV NUM,   COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(prct_m,      &kp PRCT,     LM0 RM0,  BASE NAV NUM,   COMBO_TERM_SLOW, COMBO_IDLE_SLOW)


ZMK_COMBO(grave,       &kp GRAVE,    LT3 LT2,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(ent,         &kp ENT,      LT2 LT1,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(hash,        &kp HASH,     LT1 LT0,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(bslh,        &kp BSLH,     LT2 LM2,  BASE NAV NUM,   COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(tilde,       &kp TILDE,    LT1 LM1,  BASE NAV NUM,   COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(at_v,        &kp AT,       LT3 LM3,  BASE NAV NUM,   COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(lpar,        &lpar_lt,     LM2 LM3,  BASE     NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST, RS(LCTRL), KEYS_R)
ZMK_COMBO(rpar,        &rpar_gt,     LM1 LM2,  BASE     NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST, RS(LALT),  KEYS_R)
ZMK_COMBO(lt,          &kp LT,       LM2 LM3,       NAV    ,   COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(gt,          &kp GT,       LM1 LM2,       NAV    ,   COMBO_TERM_FAST, COMBO_IDLE_FAST)


ZMK_COMBO(amp,         &kp AMPS,     LB0 LB1,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(minus,       &kp UNDER,    LB1 LB2,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(dllr,        &kp CARET,    LB2 LB3,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)


ZMK_COMBO(paste_mouse, &kp LS(INS),  LT4 LT3,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(copy_mouse,  &kp LC(INS),  LM4 LM3,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bspc_mouse,  &bs_del,      LB4 LB3,  BASE NAV NUM,   COMBO_TERM_FAST, COMBO_IDLE_FAST)


/*                       COMBOS
    ╭─────────────────────╮  ╭────────D────────────╮
    │ ...P...`...E...#.@. │  │ .@.*...B...=... ... │
    │      @ < \ > ~      │  │      + { / } %      │
╭───╯ ...C...(...)... .%. │  │ .%. ...[...]... ... ╰───╮
│        D                │  │                         │
│ ... ...B...^..._...&... │  │ ...|...-...$... ... ... │
│                         │  │                         │
╰───────────╮ ... ... ... │  │ ... ... ... ╭───────────╯
            ╰─────────────╯  ╰─────────────╯
*/

/* vim: set ft=c tw=146: */
